/* =========== Header Section  =========== */
.pageHeader{
background-color: #004d99;
margin-left: 5px;
margin-right: 5px;
margin-top: 5px;
margin-bottom: 5px;
height: 130px;
border-radius: 5px;
box-shadow: inset 0 0 20px #ffffcc;
}

#logo{
float:left;
margin-left:5px;
margin-top:5px;
}

/* =========== Navbar Section  =========== */

#Navbar ul {
padding: 10px;
list-style-type: none;
text-align: center;
background-color: #66b3ff;
margin-left: 5px;
margin-right: 5px;
margin-top: 0px;
margin-bottom: 5px;
border-radius: 5px;
}

#Navbar ul li {
display: inline;
}

#Navbar ul li a {
text-decoration: none;
font-family: Arial;
padding: .4em 1em;
list-style-type: none;
color: #fff;
background-color: #004d99;
}

/* =========== Main Divs Section  =========== */

.main {
background-color: #FFFFFF;
margin-left: 5px;
margin-right: 5px;
margin-top: 5px;
margin-bottom: 5px;
padding: 5px;
font size: 110%;
box-shadow: inset 0 0 10px #666666;
}

/* =========== Heading Section  =========== */
h2{
font-size: 150%;
color: black;
text-align:left;
}


h4{
font-size: 400%;
text-align:center;
color: white;
font-family: "Pristina";
margin: 0px;
position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: transformY(-50%);

}

h5{
font-size: 120%;
text-align:center;
color: #808080;
font-family: "Dancing Script OT";
margin: 0px;
position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: transformY(-50%);
}

/* =========== Footer Section  =========== */

#footer{
background-color: #ffffcc;
margin: 5px;
height: 30px;
clear: both;
text-align:center;
box-shadow: inset 0 0 10px #ffa31a;
}
